<hr />
<div class="col-xs-10 col-xs-offset-1">
<p class="text-left content">
At Stand Coffee we curate, tinker with, and serve an ever-changing collection of specialty coffees from the world's best roasters. Coffee partners include <%= link_to "Cafe Grumpy", "http://cafegrumpy.com/", target: "_blank"%>, <%= link_to "Cafe Integral", "http://cafeintegral.com", target: "_blank"%>, <%= link_to "Lofted Coffee", "http://loftedcoffee.com", target: "_blank"%>, Elm Coffee, <%= link_to "Timeless Coffee", "http://timelessscoffee.com", target: "_blank"%>, <%= link_to "Junior's Roasted Coffee", "http://juniorsroastedcoffee.com", target: "_blank"%>, and <%= link_to "Joyride Coffee", "http://joyridecoffeedistributors.com", target: "_blank"%>. Our present menu can be seen <%= link_to "here", "assets/menu.pdf", target: "_blank"%>.</p>

<p class="text-left content">
Here in New York City we serve exclusively in collaborative environments, sharing space with our favorite restaurants and spending weekends with our partners at <%= link_to "Brooklyn Flea", "http://brooklynflea.com", target: "_blank"%> and <%= link_to "Smorgasburg", "http://smorgasburg.com", target: "_blank"%>.</p>

<p class="text-left content">
We also offer the most extensive, adaptable mobile coffee service anywhere, one happy to brew for small in-office tastings as well as internationally attended conferences and fairs. Our mobile customers include <%= link_to "Art Market Productions", "http://artmarketproductions.com", target: "_blank"%>, <%= link_to "Etsy", "http://etsy.com", target: "_blank"%>, <%= link_to "Twitter", "http://twitter.com", target: "_blank"%>, <%= link_to "DesignMiami", "http://designmiami.com", target: "_blank"%>, <%= link_to "The United Nations", "http://un.org", target: "_blank"%>, <%= link_to "OpenStreetMap", "http://openstreetmap.org", target: "_blank"%>, <%= link_to "Central Park Conservancy", "http://centralparknyc.com", target: "_blank"%> and <%= link_to "Good Morning America", "http://abc.go.com/shows/good-morning-america", target: "_blank"%>. We're very much down to do your house party, though.
</p>
</div>
