<hr />
<div class="col-xs-10 col-xs-offset-1">
<% @locations.each do |location| %>
  <address>
    <strong><%= location.neighborhood.upcase %></strong><br />
    <%= location.street %><br />
    <%= location.city %>, <%= location.state %> <%= location.zipcode %><br />
    <em><%= location.locale %></em><br />
    <% if location.id != 5 %>
    	<%= format_hours(LocationHour.hours(location.id)) %>
    <% else %>
    	<%= link_to "Fesitval Schedule", "http://www.centralpark.com/guide/activities/concerts/summerstage-festival.html", target: "_blank"%>
    <% end %>
  </address>
<% end %>
</div>

